In [1]:
import quandl
import pandas as pd
from itertools import product
from pprint import pprint
from uszipcode import ZipcodeSearchEngine
import csv

In [2]:
def get_quandl_code(area_category, area_code, indicator_code):
    return f"ZILLOW/{area_category}{area_code}_{indicator_code}"

In [4]:
# init. an instance of ZipcodeSearchEngine
search = ZipcodeSearchEngine()

# define quandl api key
API_KEY = "XL_c6FZRjuz6WYRTJB_a"

# set cities to query
# cities_states = [dict(state="Texas", city="Austin"),
#                  dict(state="Texas", city="Houston"),
#                  dict(state="Texas", city="Dallas")]
cities_states = [dict(state="Texas", city="Austin")]

zips = []

# get zip codes per query city
df = pd.DataFrame()
index = 0
for city_state in cities_states:
    zip_codes = search.by_city_and_state(state=city_state["state"],
                                         city=city_state["city"],
                                         returns=200)
    
    for zip_code in zip_codes:
        df = df.append(pd.DataFrame(zip_code.to_dict(), index=[index]))
        index += 1
        print(zip_code["Zipcode"])
        # Storing all the zip_codes generated
        zips.append(zip_code["Zipcode"])


area_category = "Z"
area_code = zip_code

78701
78702
78703
78704
78705
78712
78717
78719
78721
78722
78723
78724
78725
78726
78727
78728
78729
78730
78731
78732
78733
78734
78735
78736
78737
78738
78739
78741
78742
78744
78745
78746
78747
78748
78749
78750
78751
78752
78753
78754
78756
78757
78758
78759

For now the code is only working for the home value index. Change: indicator_code to check out some other values.

In [6]:
# For all the zip codes obtained
x=0
data_zip = []
data_data = []
for z in zips:
    # set quandl api key
    quandl.ApiConfig.api_key = API_KEY
    # set the indicator code to query
    # indicator: Zillow Home Value Index
    indicator_code = "ZHVIAH"
    # get quandl code to query
#     quandl_code = get_quandl_code(area_category, zips[x], indicator_code)
    quandl_code = get_quandl_code(area_category, z, indicator_code)
#     print(z)
    # when it finds a zip code where there is not houses for sale (example: 78712 UT)
    try:
        # get housing indicator
        data = quandl.get(quandl_code, start_date="1800-01-01", end_date="2018-04-30")
        pprint(data)
        data_zip.append(z)
        # Appending all the data for every zip code
        data_add_zip = data
        data_add_zip["test"] = z
        data_data.append(data_add_zip)
    except (KeyboardInterrupt, SystemExit):
        raise
    except Exception as exp:
        print(f"caught exception {exp}")
        continue
    x +=1

78701
               Value
Date
1996-04-30  152500.0
1996-05-31  153600.0
1996-06-30  154600.0
1996-07-31  155500.0
1996-08-31  156300.0
1996-09-30  157300.0
1996-10-31  158300.0
1996-11-30  159300.0
1996-12-31  160400.0
1997-01-31  161900.0
1997-02-28  163500.0
1997-03-31  164800.0
1997-04-30  166300.0
1997-05-31  167700.0
1997-06-30  169000.0
1997-07-31  170200.0
1997-08-31  171500.0
1997-09-30  172900.0
1997-10-31  174500.0
1997-11-30  176100.0
1997-12-31  178000.0
1998-01-31  180200.0
1998-02-28  182700.0
1998-03-31  185000.0
1998-04-30  187500.0
1998-05-31  189800.0
1998-06-30  191800.0
1998-07-31  193700.0
1998-08-31  195500.0
1998-09-30  197300.0
...              ...
2015-11-30  367200.0
2015-12-31  370300.0
2016-01-31  372800.0
2016-02-29  375900.0
2016-03-31  375300.0
2016-04-30  369600.0
2016-05-31  366400.0
2016-06-30  370000.0
2016-07-31  373400.0
2016-08-31  373300.0
2016-09-30  370000.0
2016-10-31  366900.0
2016-11-30  365800.0
2016-12-31  366600.0
2017-01-31  369000.0
2017-02-28  372000.0
2017-03-31  374900.0
2017-04-30  377400.0
2017-05-31  378900.0
2017-06-30  378400.0
2017-07-31  381000.0
2017-08-31  388200.0
2017-09-30  396000.0
2017-10-31  400500.0
2017-11-30  404400.0
2017-12-31  407200.0
2018-01-31  408700.0
2018-02-28  411800.0
2018-03-31  417300.0
2018-04-30  420500.0

[265 rows x 1 columns]
78702
               Value
Date
1996-04-30   57800.0
1996-05-31   58900.0
1996-06-30   60300.0
1996-07-31   61900.0
1996-08-31   63600.0
1996-09-30   65400.0
1996-10-31   67400.0
1996-11-30   69500.0
1996-12-31   71700.0
1997-01-31   73900.0
1997-02-28   76100.0
1997-03-31   78300.0
1997-04-30   80700.0
1997-05-31   83100.0
1997-06-30   85500.0
1997-07-31   88100.0
1997-08-31   90900.0
1997-09-30   94000.0
1997-10-31   97500.0
1997-11-30  101600.0
1997-12-31  106100.0
1998-01-31  110900.0
1998-02-28  115600.0
1998-03-31  120000.0
1998-04-30  124100.0
1998-05-31  127600.0
1998-06-30  130300.0
1998-07-31  132200.0
1998-08-31  133100.0
1998-09-30  133300.0
...              ...
2015-11-30  336900.0
2015-12-31  337000.0
2016-01-31  336600.0
2016-02-29  339000.0
2016-03-31  344700.0
2016-04-30  351200.0
2016-05-31  356400.0
2016-06-30  359700.0
2016-07-31  362000.0
2016-08-31  363900.0
2016-09-30  365100.0
2016-10-31  366500.0
2016-11-30  370100.0
2016-12-31  375200.0
2017-01-31  379500.0
2017-02-28  382500.0
2017-03-31  384400.0
2017-04-30  384300.0
2017-05-31  383400.0
2017-06-30  384400.0
2017-07-31  386200.0
2017-08-31  387800.0
2017-09-30  389800.0
2017-10-31  392800.0
2017-11-30  395900.0
2017-12-31  399900.0
2018-01-31  404700.0
2018-02-28  408800.0
2018-03-31  412300.0
2018-04-30  414500.0

[265 rows x 1 columns]
78703
               Value
Date
1996-04-30  307800.0
1996-05-31  305000.0
1996-06-30  303000.0
1996-07-31  301600.0
1996-08-31  300700.0
1996-09-30  300400.0
1996-10-31  300400.0
1996-11-30  301000.0
1996-12-31  301600.0
1997-01-31  302700.0
1997-02-28  304800.0
1997-03-31  307900.0
1997-04-30  311400.0
1997-05-31  315300.0
1997-06-30  319600.0
1997-07-31  324400.0
1997-08-31  329700.0
1997-09-30  335400.0
1997-10-31  341300.0
1997-11-30  347000.0
1997-12-31  352200.0
1998-01-31  356900.0
1998-02-28  361800.0
1998-03-31  367000.0
1998-04-30  371500.0
1998-05-31  375100.0
1998-06-30  377700.0
1998-07-31  379000.0
1998-08-31  379300.0
1998-09-30  378900.0
...              ...
2015-11-30  680000.0
2015-12-31  687500.0
2016-01-31  694800.0
2016-02-29  700100.0
2016-03-31  706200.0
2016-04-30  712000.0
2016-05-31  715700.0
2016-06-30  719600.0
2016-07-31  725500.0
2016-08-31  732000.0
2016-09-30  740100.0
2016-10-31  745700.0
2016-11-30  744700.0
2016-12-31  741800.0
2017-01-31  743100.0
2017-02-28  748400.0
2017-03-31  753900.0
2017-04-30  758000.0
2017-05-31  764500.0
2017-06-30  774400.0
2017-07-31  780500.0
2017-08-31  776700.0
2017-09-30  771000.0
2017-10-31  773300.0
2017-11-30  783100.0
2017-12-31  790000.0
2018-01-31  791300.0
2018-02-28  791900.0
2018-03-31  796300.0
2018-04-30  798800.0

[265 rows x 1 columns]
78704
               Value
Date
1996-04-30  213100.0
1996-05-31  212900.0
1996-06-30  212800.0
1996-07-31  212700.0
1996-08-31  212600.0
1996-09-30  212500.0
1996-10-31  212800.0
1996-11-30  213300.0
1996-12-31  214200.0
1997-01-31  215500.0
1997-02-28  217300.0
1997-03-31  219700.0
1997-04-30  222500.0
1997-05-31  225800.0
1997-06-30  229300.0
1997-07-31  233100.0
1997-08-31  236800.0
1997-09-30  240500.0
1997-10-31  244000.0
1997-11-30  247100.0
1997-12-31  249600.0
1998-01-31  251400.0
1998-02-28  252400.0
1998-03-31  252600.0
1998-04-30  252100.0
1998-05-31  250900.0
1998-06-30  249000.0
1998-07-31  246400.0
1998-08-31  243500.0
1998-09-30  240500.0
...              ...
2015-11-30  464500.0
2015-12-31  466800.0
2016-01-31  469500.0
2016-02-29  470800.0
2016-03-31  470800.0
2016-04-30  470600.0
2016-05-31  470200.0
2016-06-30  469700.0
2016-07-31  469900.0
2016-08-31  470500.0
2016-09-30  470800.0
2016-10-31  471500.0
2016-11-30  472100.0
2016-12-31  472100.0
2017-01-31  473000.0
2017-02-28  474900.0
2017-03-31  476100.0
2017-04-30  477100.0
2017-05-31  480400.0
2017-06-30  484300.0
2017-07-31  488000.0
2017-08-31  489700.0
2017-09-30  488400.0
2017-10-31  485900.0
2017-11-30  485600.0
2017-12-31  486100.0
2018-01-31  485600.0
2018-02-28  488500.0
2018-03-31  495700.0
2018-04-30  500900.0

[265 rows x 1 columns]
78705
               Value
Date
1996-04-30   94100.0
1996-05-31   94500.0
1996-06-30   95000.0
1996-07-31   95500.0
1996-08-31   95900.0
1996-09-30   96400.0
1996-10-31   96800.0
1996-11-30   97100.0
1996-12-31   97400.0
1997-01-31   97800.0
1997-02-28   98300.0
1997-03-31   98800.0
1997-04-30   99400.0
1997-05-31  100200.0
1997-06-30  101200.0
1997-07-31  102400.0
1997-08-31  103700.0
1997-09-30  105100.0
1997-10-31  106800.0
1997-11-30  108500.0
1997-12-31  110400.0
1998-01-31  112500.0
1998-02-28  114500.0
1998-03-31  116400.0
1998-04-30  118400.0
1998-05-31  120300.0
1998-06-30  122200.0
1998-07-31  123800.0
1998-08-31  125300.0
1998-09-30  126600.0
...              ...
2015-11-30  229000.0
2015-12-31  232500.0
2016-01-31  235100.0
2016-02-29  236300.0
2016-03-31  236900.0
2016-04-30  237800.0
2016-05-31  239100.0
2016-06-30  240300.0
2016-07-31  242000.0
2016-08-31  243900.0
2016-09-30  245800.0
2016-10-31  247900.0
2016-11-30  249800.0
2016-12-31  249600.0
2017-01-31  248300.0
2017-02-28  248100.0
2017-03-31  249600.0
2017-04-30  251100.0
2017-05-31  252900.0
2017-06-30  254300.0
2017-07-31  252300.0
2017-08-31  248000.0
2017-09-30  244400.0
2017-10-31  241800.0
2017-11-30  239900.0
2017-12-31  241600.0
2018-01-31  245600.0
2018-02-28  250500.0
2018-03-31  255400.0
2018-04-30  258500.0

[265 rows x 1 columns]
78712
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
78717
               Value
Date
1996-04-30  196100.0
1996-05-31  196100.0
1996-06-30  196500.0
1996-07-31  197300.0
1996-08-31  198500.0
1996-09-30  200000.0
1996-10-31  201500.0
1996-11-30  203000.0
1996-12-31  204200.0
1997-01-31  205200.0
1997-02-28  206200.0
1997-03-31  207400.0
1997-04-30  208600.0
1997-05-31  209600.0
1997-06-30  210600.0
1997-07-31  211600.0
1997-08-31  212700.0
1997-09-30  213800.0
1997-10-31  214900.0
1997-11-30  216000.0
1997-12-31  216900.0
1998-01-31  217600.0
1998-02-28  218300.0
1998-03-31  219000.0
1998-04-30  219500.0
1998-05-31  219800.0
1998-06-30  220000.0
1998-07-31  220100.0
1998-08-31  220300.0
1998-09-30  220400.0
...              ...
2015-11-30  301600.0
2015-12-31  303600.0
2016-01-31  305800.0
2016-02-29  307700.0
2016-03-31  310800.0
2016-04-30  315000.0
2016-05-31  319300.0
2016-06-30  323800.0
2016-07-31  327900.0
2016-08-31  331400.0
2016-09-30  333700.0
2016-10-31  334100.0
2016-11-30  334200.0
2016-12-31  334900.0
2017-01-31  335200.0
2017-02-28  335700.0
2017-03-31  336600.0
2017-04-30  338400.0
2017-05-31  340200.0
2017-06-30  339900.0
2017-07-31  337700.0
2017-08-31  336100.0
2017-09-30  337200.0
2017-10-31  341500.0
2017-11-30  345400.0
2017-12-31  347300.0
2018-01-31  350100.0
2018-02-28  354100.0
2018-03-31  357500.0
2018-04-30  358800.0

[265 rows x 1 columns]
78719

caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
78721
               Value
Date
1996-04-30   66700.0
1996-05-31   66500.0
1996-06-30   66300.0
1996-07-31   66200.0
1996-08-31   66200.0
1996-09-30   66200.0
1996-10-31   66200.0
1996-11-30   66400.0
1996-12-31   66700.0
1997-01-31   67100.0
1997-02-28   67700.0
1997-03-31   68400.0
1997-04-30   69200.0
1997-05-31   70100.0
1997-06-30   71100.0
1997-07-31   72200.0
1997-08-31   73400.0
1997-09-30   74600.0
1997-10-31   75800.0
1997-11-30   77100.0
1997-12-31   78400.0
1998-01-31   79700.0
1998-02-28   81000.0
1998-03-31   82300.0
1998-04-30   83500.0
1998-05-31   84600.0
1998-06-30   85600.0
1998-07-31   86600.0
1998-08-31   87400.0
1998-09-30   88100.0
...              ...
2015-11-30  212700.0
2015-12-31  213800.0
2016-01-31  216800.0
2016-02-29  222100.0
2016-03-31  228200.0
2016-04-30  232400.0
2016-05-31  237300.0
2016-06-30  244300.0
2016-07-31  250300.0
2016-08-31  254000.0
2016-09-30  257200.0
2016-10-31  259900.0
2016-11-30  261700.0
2016-12-31  264500.0
2017-01-31  267600.0
2017-02-28  269200.0
2017-03-31  268900.0
2017-04-30  269800.0
2017-05-31  272500.0
2017-06-30  276500.0
2017-07-31  279600.0
2017-08-31  281300.0
2017-09-30  281800.0
2017-10-31  284300.0
2017-11-30  288700.0
2017-12-31  293100.0
2018-01-31  296200.0
2018-02-28  297800.0
2018-03-31  297300.0
2018-04-30  296100.0

[265 rows x 1 columns]
78722
               Value
Date
1996-04-30   76200.0
1996-05-31   76400.0
1996-06-30   76500.0
1996-07-31   76700.0
1996-08-31   77000.0
1996-09-30   77200.0
1996-10-31   77600.0
1996-11-30   78100.0
1996-12-31   78700.0
1997-01-31   79300.0
1997-02-28   79900.0
1997-03-31   80500.0
1997-04-30   81400.0
1997-05-31   82500.0
1997-06-30   83700.0
1997-07-31   85000.0
1997-08-31   86500.0
1997-09-30   88100.0
1997-10-31   89800.0
1997-11-30   91800.0
1997-12-31   94100.0
1998-01-31   96200.0
1998-02-28   98300.0
1998-03-31  100500.0
1998-04-30  102900.0
1998-05-31  105300.0
1998-06-30  107900.0
1998-07-31  110600.0
1998-08-31  113200.0
1998-09-30  115900.0
...              ...
2015-11-30  365800.0
2015-12-31  362900.0
2016-01-31  361800.0
2016-02-29  364000.0
2016-03-31  368000.0
2016-04-30  371600.0
2016-05-31  374600.0
2016-06-30  376200.0
2016-07-31  377200.0
2016-08-31  377900.0
2016-09-30  378400.0
2016-10-31  379900.0
2016-11-30  381400.0
2016-12-31  383100.0
2017-01-31  385200.0
2017-02-28  386500.0
2017-03-31  386700.0
2017-04-30  388000.0
2017-05-31  389900.0
2017-06-30  391800.0
2017-07-31  394500.0
2017-08-31  397500.0
2017-09-30  399100.0
2017-10-31  399300.0
2017-11-30  400900.0
2017-12-31  403200.0
2018-01-31  405100.0
2018-02-28  408200.0
2018-03-31  413900.0
2018-04-30  417400.0

[265 rows x 1 columns]
78723
               Value
Date
1996-04-30   97200.0
1996-05-31   98600.0
1996-06-30   99800.0
1996-07-31  100800.0
1996-08-31  101300.0
1996-09-30  101300.0
1996-10-31  100800.0
1996-11-30   99800.0
1996-12-31   98800.0
1997-01-31   97800.0
1997-02-28   96600.0
1997-03-31   95400.0
1997-04-30   94500.0
1997-05-31   94000.0
1997-06-30   94000.0
1997-07-31   94600.0
1997-08-31   95700.0
1997-09-30   97300.0
1997-10-31   99400.0
1997-11-30  101800.0
1997-12-31  104800.0
1998-01-31  108000.0
1998-02-28  110800.0
1998-03-31  113000.0
1998-04-30  114800.0
1998-05-31  116100.0
1998-06-30  116600.0
1998-07-31  116500.0
1998-08-31  115800.0
1998-09-30  114800.0
...              ...
2015-11-30  285800.0
2015-12-31  288400.0
2016-01-31  290800.0
2016-02-29  293600.0
2016-03-31  297900.0
2016-04-30  303100.0
2016-05-31  308000.0
2016-06-30  311800.0
2016-07-31  314400.0
2016-08-31  316800.0
2016-09-30  319400.0
2016-10-31  321900.0
2016-11-30  323000.0
2016-12-31  323400.0
2017-01-31  323800.0
2017-02-28  324600.0
2017-03-31  325600.0
2017-04-30  327200.0
2017-05-31  328800.0
2017-06-30  331100.0
2017-07-31  334400.0
2017-08-31  337100.0
2017-09-30  338800.0
2017-10-31  341300.0
2017-11-30  345700.0
2017-12-31  350600.0
2018-01-31  354200.0
2018-02-28  357100.0
2018-03-31  360300.0
2018-04-30  362700.0

[265 rows x 1 columns]
78724
               Value
Date
1996-04-30   97500.0
1996-05-31   96900.0
1996-06-30   96200.0
1996-07-31   95600.0
1996-08-31   95100.0
1996-09-30   94700.0
1996-10-31   94300.0
1996-11-30   94100.0
1996-12-31   93900.0
1997-01-31   93700.0
1997-02-28   93700.0
1997-03-31   93900.0
1997-04-30   94100.0
1997-05-31   94400.0
1997-06-30   94700.0
1997-07-31   95000.0
1997-08-31   95300.0
1997-09-30   95600.0
1997-10-31   96000.0
1997-11-30   96200.0
1997-12-31   96400.0
1998-01-31   96500.0
1998-02-28   96700.0
1998-03-31   97000.0
1998-04-30   97200.0
1998-05-31   97400.0
1998-06-30   97600.0
1998-07-31   97800.0
1998-08-31   98000.0
1998-09-30   98200.0
...              ...
2015-11-30  141400.0
2015-12-31  143200.0
2016-01-31  145200.0
2016-02-29  147200.0
2016-03-31  149900.0
2016-04-30  153800.0
2016-05-31  158000.0
2016-06-30  162300.0
2016-07-31  166800.0
2016-08-31  170000.0
2016-09-30  171700.0
2016-10-31  173600.0
2016-11-30  175000.0
2016-12-31  175600.0
2017-01-31  176600.0
2017-02-28  178000.0
2017-03-31  178800.0
2017-04-30  178800.0
2017-05-31  178600.0
2017-06-30  178400.0
2017-07-31  178300.0
2017-08-31  178800.0
2017-09-30  180000.0
2017-10-31  181700.0
2017-11-30  183800.0
2017-12-31  185300.0
2018-01-31  186400.0
2018-02-28  187900.0
2018-03-31  189100.0
2018-04-30  189300.0

[265 rows x 1 columns]
78725
               Value
Date
1996-04-30  105600.0
1996-05-31  105200.0
1996-06-30  104800.0
1996-07-31  104500.0
1996-08-31  104200.0
1996-09-30  104000.0
1996-10-31  103800.0
1996-11-30  103700.0
1996-12-31  103700.0
1997-01-31  103700.0
1997-02-28  103600.0
1997-03-31  103700.0
1997-04-30  103800.0
1997-05-31  103900.0
1997-06-30  104100.0
1997-07-31  104300.0
1997-08-31  104600.0
1997-09-30  104800.0
1997-10-31  105000.0
1997-11-30  105300.0
1997-12-31  105600.0
1998-01-31  105800.0
1998-02-28  106000.0
1998-03-31  106200.0
1998-04-30  106400.0
1998-05-31  106700.0
1998-06-30  107000.0
1998-07-31  107300.0
1998-08-31  107600.0
1998-09-30  107900.0
...              ...
2015-11-30  152100.0
2015-12-31  153300.0
2016-01-31  154500.0
2016-02-29  155600.0
2016-03-31  157400.0
2016-04-30  159900.0
2016-05-31  162600.0
2016-06-30  165400.0
2016-07-31  168000.0
2016-08-31  169900.0
2016-09-30  170800.0
2016-10-31  171500.0
2016-11-30  172100.0
2016-12-31  172600.0
2017-01-31  172900.0
2017-02-28  173800.0
2017-03-31  174700.0
2017-04-30  175700.0
2017-05-31  176500.0
2017-06-30  176900.0
2017-07-31  177100.0
2017-08-31  177900.0
2017-09-30  179200.0
2017-10-31  180900.0
2017-11-30  182700.0
2017-12-31  183800.0
2018-01-31  184400.0
2018-02-28  185300.0
2018-03-31  186300.0
2018-04-30  186800.0

[265 rows x 1 columns]
78726
               Value
Date
1996-04-30  355800.0
1996-05-31  356400.0
1996-06-30  356900.0
1996-07-31  357500.0
1996-08-31  358100.0
1996-09-30  358500.0
1996-10-31  358800.0
1996-11-30  358900.0
1996-12-31  358800.0
1997-01-31  358200.0
1997-02-28  357400.0
1997-03-31  356500.0
1997-04-30  355500.0
1997-05-31  354400.0
1997-06-30  353300.0
1997-07-31  352200.0
1997-08-31  351200.0
1997-09-30  350100.0
1997-10-31  349100.0
1997-11-30  348000.0
1997-12-31  346900.0
1998-01-31  345500.0
1998-02-28  343900.0
1998-03-31  342200.0
1998-04-30  340300.0
1998-05-31  338300.0
1998-06-30  336100.0
1998-07-31  333800.0
1998-08-31  331300.0
1998-09-30  328800.0
...              ...
2015-11-30  405400.0
2015-12-31  408200.0
2016-01-31  411400.0
2016-02-29  413700.0
2016-03-31  415700.0
2016-04-30  417800.0
2016-05-31  418800.0
2016-06-30  418400.0
2016-07-31  418700.0
2016-08-31  420000.0
2016-09-30  422200.0
2016-10-31  424800.0
2016-11-30  426800.0
2016-12-31  427300.0
2017-01-31  427700.0
2017-02-28  428500.0
2017-03-31  430400.0
2017-04-30  433900.0
2017-05-31  437600.0
2017-06-30  440100.0
2017-07-31  439600.0
2017-08-31  437100.0
2017-09-30  435300.0
2017-10-31  435000.0
2017-11-30  434500.0
2017-12-31  433900.0
2018-01-31  433300.0
2018-02-28  434100.0
2018-03-31  437200.0
2018-04-30  439700.0

[265 rows x 1 columns]
78727

               Value
Date
1996-04-30  150300.0
1996-05-31  150200.0
1996-06-30  150300.0
1996-07-31  150600.0
1996-08-31  151000.0
1996-09-30  151500.0
1996-10-31  152200.0
1996-11-30  152900.0
1996-12-31  153700.0
1997-01-31  154600.0
1997-02-28  155700.0
1997-03-31  157100.0
1997-04-30  158500.0
1997-05-31  159900.0
1997-06-30  161100.0
1997-07-31  162100.0
1997-08-31  163000.0
1997-09-30  163600.0
1997-10-31  164000.0
1997-11-30  164100.0
1997-12-31  163900.0
1998-01-31  163500.0
1998-02-28  163000.0
1998-03-31  162400.0
1998-04-30  161500.0
1998-05-31  160400.0
1998-06-30  159200.0
1998-07-31  157900.0
1998-08-31  156700.0
1998-09-30  155500.0
...              ...
2015-11-30  246700.0
2015-12-31  248600.0
2016-01-31  249800.0
2016-02-29  250700.0
2016-03-31  252700.0
2016-04-30  255800.0
2016-05-31  259900.0
2016-06-30  265200.0
2016-07-31  270600.0
2016-08-31  275400.0
2016-09-30  279800.0
2016-10-31  284600.0
2016-11-30  288700.0
2016-12-31  291400.0
2017-01-31  294200.0
2017-02-28  298000.0
2017-03-31  300700.0
2017-04-30  302300.0
2017-05-31  303100.0
2017-06-30  303300.0
2017-07-31  303500.0
2017-08-31  303800.0
2017-09-30  304200.0
2017-10-31  305300.0
2017-11-30  306900.0
2017-12-31  309300.0
2018-01-31  311800.0
2018-02-28  313400.0
2018-03-31  315200.0
2018-04-30  316500.0

[265 rows x 1 columns]
78728
               Value
Date
1996-04-30  136600.0
1996-05-31  136500.0
1996-06-30  136400.0
1996-07-31  136300.0
1996-08-31  136100.0
1996-09-30  136000.0
1996-10-31  135900.0
1996-11-30  135900.0
1996-12-31  135900.0
1997-01-31  135900.0
1997-02-28  136000.0
1997-03-31  136100.0
1997-04-30  136200.0
1997-05-31  136400.0
1997-06-30  136600.0
1997-07-31  136900.0
1997-08-31  137200.0
1997-09-30  137500.0
1997-10-31  137800.0
1997-11-30  138100.0
1997-12-31  138300.0
1998-01-31  138500.0
1998-02-28  138600.0
1998-03-31  138600.0
1998-04-30  138600.0
1998-05-31  138600.0
1998-06-30  138500.0
1998-07-31  138400.0
1998-08-31  138400.0
1998-09-30  138400.0
...              ...
2015-11-30  220300.0
2015-12-31  220300.0
2016-01-31  221200.0
2016-02-29  223400.0
2016-03-31  226700.0
2016-04-30  230000.0
2016-05-31  233200.0
2016-06-30  236600.0
2016-07-31  239500.0
2016-08-31  242100.0
2016-09-30  243800.0
2016-10-31  244700.0
2016-11-30  246300.0
2016-12-31  249400.0
2017-01-31  252100.0
2017-02-28  253200.0
2017-03-31  253600.0
2017-04-30  254500.0
2017-05-31  255500.0
2017-06-30  256300.0
2017-07-31  257100.0
2017-08-31  257800.0
2017-09-30  258400.0
2017-10-31  259300.0
2017-11-30  260300.0
2017-12-31  260600.0
2018-01-31  260700.0
2018-02-28  262300.0
2018-03-31  265000.0
2018-04-30  266500.0

[265 rows x 1 columns]
78729
               Value
Date
1996-04-30  162000.0
1996-05-31  162100.0
1996-06-30  162100.0
1996-07-31  162300.0
1996-08-31  162500.0
1996-09-30  162700.0
1996-10-31  163000.0
1996-11-30  163100.0
1996-12-31  163300.0
1997-01-31  163400.0
1997-02-28  163600.0
1997-03-31  163900.0
1997-04-30  164200.0
1997-05-31  164600.0
1997-06-30  165100.0
1997-07-31  165700.0
1997-08-31  166500.0
1997-09-30  167300.0
1997-10-31  168200.0
1997-11-30  169200.0
1997-12-31  170200.0
1998-01-31  171200.0
1998-02-28  172100.0
1998-03-31  172900.0
1998-04-30  173600.0
1998-05-31  174100.0
1998-06-30  174400.0
1998-07-31  174600.0
1998-08-31  174700.0
1998-09-30  174500.0
...              ...
2015-11-30  242500.0
2015-12-31  243800.0
2016-01-31  245500.0
2016-02-29  247400.0
2016-03-31  249500.0
2016-04-30  252200.0
2016-05-31  254900.0
2016-06-30  257900.0
2016-07-31  260400.0
2016-08-31  263100.0
2016-09-30  266700.0
2016-10-31  269700.0
2016-11-30  271400.0
2016-12-31  272700.0
2017-01-31  274100.0
2017-02-28  275300.0
2017-03-31  276600.0
2017-04-30  276900.0
2017-05-31  276900.0
2017-06-30  278000.0
2017-07-31  279400.0
2017-08-31  279400.0
2017-09-30  279900.0
2017-10-31  282100.0
2017-11-30  285100.0
2017-12-31  287400.0
2018-01-31  289500.0
2018-02-28  292300.0
2018-03-31  294400.0
2018-04-30  294900.0

[265 rows x 1 columns]
78730
               Value
Date
1996-04-30  434900.0
1996-05-31  434500.0
1996-06-30  434100.0
1996-07-31  433900.0
1996-08-31  433800.0
1996-09-30  433700.0
1996-10-31  433800.0
1996-11-30  434000.0
1996-12-31  434100.0
1997-01-31  434200.0
1997-02-28  434500.0
1997-03-31  434800.0
1997-04-30  435200.0
1997-05-31  435700.0
1997-06-30  436300.0
1997-07-31  436800.0
1997-08-31  437400.0
1997-09-30  438000.0
1997-10-31  438500.0
1997-11-30  439000.0
1997-12-31  439400.0
1998-01-31  439700.0
1998-02-28  439800.0
1998-03-31  440000.0
1998-04-30  440100.0
1998-05-31  440200.0
1998-06-30  440100.0
1998-07-31  440000.0
1998-08-31  439800.0
1998-09-30  439600.0
...              ...
2015-11-30  538700.0
2015-12-31  544900.0
2016-01-31  556600.0
2016-02-29  568100.0
2016-03-31  575300.0
2016-04-30  583200.0
2016-05-31  591000.0
2016-06-30  595200.0
2016-07-31  596300.0
2016-08-31  598700.0
2016-09-30  601100.0
2016-10-31  603300.0
2016-11-30  603300.0
2016-12-31  599500.0
2017-01-31  596800.0
2017-02-28  595800.0
2017-03-31  595400.0
2017-04-30  595700.0
2017-05-31  599200.0
2017-06-30  605900.0
2017-07-31  611800.0
2017-08-31  612400.0
2017-09-30  609700.0
2017-10-31  606200.0
2017-11-30  604900.0
2017-12-31  605600.0
2018-01-31  605500.0
2018-02-28  608900.0
2018-03-31  621200.0
2018-04-30  632200.0

[265 rows x 1 columns]
78731
               Value
Date
1996-04-30  336500.0
1996-05-31  334200.0
1996-06-30  332400.0
1996-07-31  331400.0
1996-08-31  331200.0
1996-09-30  332000.0
1996-10-31  333700.0
1996-11-30  336300.0
1996-12-31  339000.0
1997-01-31  341500.0
1997-02-28  344100.0
1997-03-31  346500.0
1997-04-30  347800.0
1997-05-31  348300.0
1997-06-30  348400.0
1997-07-31  348400.0
1997-08-31  348500.0
1997-09-30  348900.0
1997-10-31  349600.0
1997-11-30  350300.0
1997-12-31  350600.0
1998-01-31  350400.0
1998-02-28  350400.0
1998-03-31  350600.0
1998-04-30  350100.0
1998-05-31  348900.0
1998-06-30  346800.0
1998-07-31  343700.0
1998-08-31  340000.0
1998-09-30  336000.0
...              ...
2015-11-30  490500.0
2015-12-31  494200.0
2016-01-31  500000.0
2016-02-29  507700.0
2016-03-31  515900.0
2016-04-30  520400.0
2016-05-31  525700.0
2016-06-30  533100.0
2016-07-31  539300.0
2016-08-31  544500.0
2016-09-30  552000.0
2016-10-31  558100.0
2016-11-30  558800.0
2016-12-31  558600.0
2017-01-31  560500.0
2017-02-28  560000.0
2017-03-31  556900.0
2017-04-30  557500.0
2017-05-31  558200.0
2017-06-30  556100.0
2017-07-31  554000.0
2017-08-31  553100.0
2017-09-30  551400.0
2017-10-31  552900.0
2017-11-30  556300.0
2017-12-31  557000.0
2018-01-31  554000.0
2018-02-28  558300.0
2018-03-31  573300.0
2018-04-30  586200.0

[265 rows x 1 columns]
78732
               Value
Date
1996-04-30  365000.0
1996-05-31  363400.0
1996-06-30  361400.0
1996-07-31  358900.0
1996-08-31  356000.0
1996-09-30  352600.0
1996-10-31  348700.0
1996-11-30  344500.0
1996-12-31  340100.0
1997-01-31  335700.0
1997-02-28  331200.0
1997-03-31  326600.0
1997-04-30  322300.0
1997-05-31  318300.0
1997-06-30  314500.0
1997-07-31  310900.0
1997-08-31  307600.0
1997-09-30  304600.0
1997-10-31  301900.0
1997-11-30  299400.0
1997-12-31  297300.0
1998-01-31  295400.0
1998-02-28  293600.0
1998-03-31  291800.0
1998-04-30  290400.0
1998-05-31  289400.0
1998-06-30  288700.0
1998-07-31  288500.0
1998-08-31  288700.0
1998-09-30  289100.0
...              ...
2015-11-30  440600.0
2015-12-31  441100.0
2016-01-31  442200.0
2016-02-29  444200.0
2016-03-31  446200.0
2016-04-30  448500.0
2016-05-31  451000.0
2016-06-30  454100.0
2016-07-31  456600.0
2016-08-31  457700.0
2016-09-30  457600.0
2016-10-31  458600.0
2016-11-30  459200.0
2016-12-31  458400.0
2017-01-31  457400.0
2017-02-28  457800.0
2017-03-31  458400.0
2017-04-30  457900.0
2017-05-31  457300.0
2017-06-30  457700.0
2017-07-31  458700.0
2017-08-31  459900.0
2017-09-30  461600.0
2017-10-31  463200.0
2017-11-30  464300.0
2017-12-31  464800.0
2018-01-31  465100.0
2018-02-28  465600.0
2018-03-31  468000.0
2018-04-30  470700.0

[265 rows x 1 columns]
78733
               Value
Date
1996-04-30  395900.0
1996-05-31  395000.0
1996-06-30  394200.0
1996-07-31  393400.0
1996-08-31  392800.0
1996-09-30  392300.0
1996-10-31  392200.0
1996-11-30  392400.0
1996-12-31  392800.0
1997-01-31  393300.0
1997-02-28  393900.0
1997-03-31  394700.0
1997-04-30  395500.0
1997-05-31  396100.0
1997-06-30  396800.0
1997-07-31  397400.0
1997-08-31  398100.0
1997-09-30  398800.0
1997-10-31  399400.0
1997-11-30  400100.0
1997-12-31  400600.0
1998-01-31  401100.0
1998-02-28  401400.0
1998-03-31  401600.0
1998-04-30  401700.0
1998-05-31  401600.0
1998-06-30  401500.0
1998-07-31  401500.0
1998-08-31  401700.0
1998-09-30  402000.0
...              ...
2015-11-30  499400.0
2015-12-31  499200.0
2016-01-31  499900.0
2016-02-29  498900.0
2016-03-31  499200.0
2016-04-30  500400.0
2016-05-31  504500.0
2016-06-30  513400.0
2016-07-31  525200.0
2016-08-31  533700.0
2016-09-30  541700.0
2016-10-31  551400.0
2016-11-30  554200.0
2016-12-31  550000.0
2017-01-31  547500.0
2017-02-28  549000.0
2017-03-31  546500.0
2017-04-30  546600.0
2017-05-31  550500.0
2017-06-30  553500.0
2017-07-31  557900.0
2017-08-31  567200.0
2017-09-30  572800.0
2017-10-31  572700.0
2017-11-30  572800.0
2017-12-31  575200.0
2018-01-31  579500.0
2018-02-28  590600.0
2018-03-31  605400.0
2018-04-30  613400.0

[265 rows x 1 columns]
78734

               Value
Date
1996-04-30  222200.0
1996-05-31  222800.0
1996-06-30  223600.0
1996-07-31  224500.0
1996-08-31  225700.0
1996-09-30  226900.0
1996-10-31  228100.0
1996-11-30  229300.0
1996-12-31  230400.0
1997-01-31  231300.0
1997-02-28  232000.0
1997-03-31  232600.0
1997-04-30  232900.0
1997-05-31  233100.0
1997-06-30  233100.0
1997-07-31  233200.0
1997-08-31  233200.0
1997-09-30  233200.0
1997-10-31  233400.0
1997-11-30  233600.0
1997-12-31  233800.0
1998-01-31  234000.0
1998-02-28  234300.0
1998-03-31  234700.0
1998-04-30  235100.0
1998-05-31  235700.0
1998-06-30  236300.0
1998-07-31  237000.0
1998-08-31  237700.0
1998-09-30  238200.0
...              ...
2015-11-30  352600.0
2015-12-31  354000.0
2016-01-31  356400.0
2016-02-29  357600.0
2016-03-31  358100.0
2016-04-30  359600.0
2016-05-31  362300.0
2016-06-30  363300.0
2016-07-31  364400.0
2016-08-31  366400.0
2016-09-30  369200.0
2016-10-31  372600.0
2016-11-30  374900.0
2016-12-31  375500.0
2017-01-31  375800.0
2017-02-28  377000.0
2017-03-31  377800.0
2017-04-30  378000.0
2017-05-31  378800.0
2017-06-30  380700.0
2017-07-31  381400.0
2017-08-31  381400.0
2017-09-30  382200.0
2017-10-31  383700.0
2017-11-30  385300.0
2017-12-31  386500.0
2018-01-31  387600.0
2018-02-28  390200.0
2018-03-31  394900.0
2018-04-30  398400.0

[265 rows x 1 columns]
78735
               Value
Date
1996-04-30  753500.0
1996-05-31  740800.0
1996-06-30  728700.0
1996-07-31  717100.0
1996-08-31  706500.0
1996-09-30  697200.0
1996-10-31  689100.0
1996-11-30  683400.0
1996-12-31  678100.0
1997-01-31  673600.0
1997-02-28  672000.0
1997-03-31  673800.0
1997-04-30  676700.0
1997-05-31  680400.0
1997-06-30  684500.0
1997-07-31  688300.0
1997-08-31  691300.0
1997-09-30  692600.0
1997-10-31  691800.0
1997-11-30  689200.0
1997-12-31  682700.0
1998-01-31  672900.0
1998-02-28  662000.0
1998-03-31  650700.0
1998-04-30  636900.0
1998-05-31  621700.0
1998-06-30  604900.0
1998-07-31  586900.0
1998-08-31  568100.0
1998-09-30  549000.0
...              ...
2015-11-30  431000.0
2015-12-31  434200.0
2016-01-31  438600.0
2016-02-29  442300.0
2016-03-31  445600.0
2016-04-30  449400.0
2016-05-31  453300.0
2016-06-30  456700.0
2016-07-31  459600.0
2016-08-31  462200.0
2016-09-30  463700.0
2016-10-31  464200.0
2016-11-30  463300.0
2016-12-31  461000.0
2017-01-31  459600.0
2017-02-28  460300.0
2017-03-31  461000.0
2017-04-30  460900.0
2017-05-31  460800.0
2017-06-30  461200.0
2017-07-31  461100.0
2017-08-31  460400.0
2017-09-30  459700.0
2017-10-31  460400.0
2017-11-30  461400.0
2017-12-31  462100.0
2018-01-31  462800.0
2018-02-28  465500.0
2018-03-31  469800.0
2018-04-30  473000.0

[265 rows x 1 columns]
78736
               Value
Date
1996-04-30  181100.0
1996-05-31  181500.0
1996-06-30  182000.0
1996-07-31  182500.0
1996-08-31  182900.0
1996-09-30  183400.0
1996-10-31  183800.0
1996-11-30  184200.0
1996-12-31  184600.0
1997-01-31  185000.0
1997-02-28  185100.0
1997-03-31  185200.0
1997-04-30  185100.0
1997-05-31  185000.0
1997-06-30  184700.0
1997-07-31  184400.0
1997-08-31  183900.0
1997-09-30  183300.0
1997-10-31  182700.0
1997-11-30  182100.0
1997-12-31  181400.0
1998-01-31  180700.0
1998-02-28  180000.0
1998-03-31  179400.0
1998-04-30  178700.0
1998-05-31  178300.0
1998-06-30  178000.0
1998-07-31  177800.0
1998-08-31  177700.0
1998-09-30  177700.0
...              ...
2015-11-30  282200.0
2015-12-31  284400.0
2016-01-31  286800.0
2016-02-29  289000.0
2016-03-31  291400.0
2016-04-30  295900.0
2016-05-31  300300.0
2016-06-30  303100.0
2016-07-31  305500.0
2016-08-31  309100.0
2016-09-30  313600.0
2016-10-31  319300.0
2016-11-30  325600.0
2016-12-31  331800.0
2017-01-31  336200.0
2017-02-28  337200.0
2017-03-31  335800.0
2017-04-30  334700.0
2017-05-31  334600.0
2017-06-30  335100.0
2017-07-31  333300.0
2017-08-31  330100.0
2017-09-30  329400.0
2017-10-31  330400.0
2017-11-30  329800.0
2017-12-31  328100.0
2018-01-31  328400.0
2018-02-28  332600.0
2018-03-31  339800.0
2018-04-30  344900.0

[265 rows x 1 columns]
78737
               Value
Date
1996-04-30  241400.0
1996-05-31  242300.0
1996-06-30  243300.0
1996-07-31  244100.0
1996-08-31  244900.0
1996-09-30  245700.0
1996-10-31  246300.0
1996-11-30  246900.0
1996-12-31  247400.0
1997-01-31  248000.0
1997-02-28  248400.0
1997-03-31  248500.0
1997-04-30  248500.0
1997-05-31  248300.0
1997-06-30  248100.0
1997-07-31  247800.0
1997-08-31  247600.0
1997-09-30  247400.0
1997-10-31  247200.0
1997-11-30  247100.0
1997-12-31  247100.0
1998-01-31  247400.0
1998-02-28  247700.0
1998-03-31  247800.0
1998-04-30  248100.0
1998-05-31  248300.0
1998-06-30  248700.0
1998-07-31  249100.0
1998-08-31  249800.0
1998-09-30  250500.0
...              ...
2015-11-30  383500.0
2015-12-31  385000.0
2016-01-31  387300.0
2016-02-29  389600.0
2016-03-31  390600.0
2016-04-30  390700.0
2016-05-31  391100.0
2016-06-30  394500.0
2016-07-31  399700.0
2016-08-31  403600.0
2016-09-30  405400.0
2016-10-31  406900.0
2016-11-30  408600.0
2016-12-31  411400.0
2017-01-31  415200.0
2017-02-28  417700.0
2017-03-31  417900.0
2017-04-30  419300.0
2017-05-31  421900.0
2017-06-30  422700.0
2017-07-31  421400.0
2017-08-31  421700.0
2017-09-30  424500.0
2017-10-31  428300.0
2017-11-30  431500.0
2017-12-31  433000.0
2018-01-31  433700.0
2018-02-28  436300.0
2018-03-31  441500.0
2018-04-30  444500.0

[265 rows x 1 columns]
78738
               Value
Date
1996-04-30  331800.0
1996-05-31  329300.0
1996-06-30  326600.0
1996-07-31  323900.0
1996-08-31  321200.0
1996-09-30  318600.0
1996-10-31  316300.0
1996-11-30  314300.0
1996-12-31  312500.0
1997-01-31  311300.0
1997-02-28  310600.0
1997-03-31  310200.0
1997-04-30  310300.0
1997-05-31  310800.0
1997-06-30  311900.0
1997-07-31  313400.0
1997-08-31  315300.0
1997-09-30  317600.0
1997-10-31  320200.0
1997-11-30  323000.0
1997-12-31  325900.0
1998-01-31  328600.0
1998-02-28  331200.0
1998-03-31  333300.0
1998-04-30  335200.0
1998-05-31  336700.0
1998-06-30  338000.0
1998-07-31  339100.0
1998-08-31  339900.0
1998-09-30  340700.0
...              ...
2015-11-30  472400.0
2015-12-31  473100.0
2016-01-31  474100.0
2016-02-29  474500.0
2016-03-31  474100.0
2016-04-30  474500.0
2016-05-31  475700.0
2016-06-30  476600.0
2016-07-31  477300.0
2016-08-31  477400.0
2016-09-30  477200.0
2016-10-31  477900.0
2016-11-30  478300.0
2016-12-31  477900.0
2017-01-31  478100.0
2017-02-28  478400.0
2017-03-31  478100.0
2017-04-30  478900.0
2017-05-31  480500.0
2017-06-30  481200.0
2017-07-31  481200.0
2017-08-31  481300.0
2017-09-30  481600.0
2017-10-31  482300.0
2017-11-30  483600.0
2017-12-31  484400.0
2018-01-31  483400.0
2018-02-28  487200.0
2018-03-31  496300.0
2018-04-30  502400.0

[265 rows x 1 columns]
78739
               Value
Date
1996-04-30  375200.0
1996-05-31  370800.0
1996-06-30  366800.0
1996-07-31  363300.0
1996-08-31  360200.0
1996-09-30  357800.0
1996-10-31  355700.0
1996-11-30  354200.0
1996-12-31  352900.0
1997-01-31  352000.0
1997-02-28  352000.0
1997-03-31  353000.0
1997-04-30  354600.0
1997-05-31  356600.0
1997-06-30  358800.0
1997-07-31  360800.0
1997-08-31  362500.0
1997-09-30  363600.0
1997-10-31  364000.0
1997-11-30  363900.0
1997-12-31  362800.0
1998-01-31  360800.0
1998-02-28  358700.0
1998-03-31  356400.0
1998-04-30  353800.0
1998-05-31  351300.0
1998-06-30  348800.0
1998-07-31  346600.0
1998-08-31  344700.0
1998-09-30  343100.0
...              ...
2015-11-30  409900.0
2015-12-31  412700.0
2016-01-31  416100.0
2016-02-29  418500.0
2016-03-31  421200.0
2016-04-30  424900.0
2016-05-31  427700.0
2016-06-30  429100.0
2016-07-31  430100.0
2016-08-31  430800.0
2016-09-30  431200.0
2016-10-31  431400.0
2016-11-30  431600.0
2016-12-31  431800.0
2017-01-31  432700.0
2017-02-28  434600.0
2017-03-31  436800.0
2017-04-30  438700.0
2017-05-31  440400.0
2017-06-30  441700.0
2017-07-31  442100.0
2017-08-31  442400.0
2017-09-30  444200.0
2017-10-31  446700.0
2017-11-30  448200.0
2017-12-31  448900.0
2018-01-31  449500.0
2018-02-28  450400.0
2018-03-31  451300.0
2018-04-30  451000.0

[265 rows x 1 columns]
78741
               Value
Date
1996-04-30   85400.0
1996-05-31   85400.0
1996-06-30   85400.0
1996-07-31   85600.0
1996-08-31   85800.0
1996-09-30   86000.0
1996-10-31   86300.0
1996-11-30   86600.0
1996-12-31   86900.0
1997-01-31   87200.0
1997-02-28   87600.0
1997-03-31   88100.0
1997-04-30   88500.0
1997-05-31   89100.0
1997-06-30   89600.0
1997-07-31   90300.0
1997-08-31   91000.0
1997-09-30   91800.0
1997-10-31   92700.0
1997-11-30   93600.0
1997-12-31   94600.0
1998-01-31   95600.0
1998-02-28   96500.0
1998-03-31   97500.0
1998-04-30   98300.0
1998-05-31   99000.0
1998-06-30   99600.0
1998-07-31  100000.0
1998-08-31  100200.0
1998-09-30  100200.0
...              ...
2015-11-30  170600.0
2015-12-31  173300.0
2016-01-31  176100.0
2016-02-29  178400.0
2016-03-31  181100.0
2016-04-30  186800.0
2016-05-31  194300.0
2016-06-30  200300.0
2016-07-31  204500.0
2016-08-31  208200.0
2016-09-30  210300.0
2016-10-31  211300.0
2016-11-30  212100.0
2016-12-31  212100.0
2017-01-31  212600.0
2017-02-28  213900.0
2017-03-31  214100.0
2017-04-30  213900.0
2017-05-31  214500.0
2017-06-30  214700.0
2017-07-31  213800.0
2017-08-31  213200.0
2017-09-30  213600.0
2017-10-31  215200.0
2017-11-30  217500.0
2017-12-31  219300.0
2018-01-31  218700.0
2018-02-28  220700.0
2018-03-31  227900.0
2018-04-30  233700.0

[265 rows x 1 columns]
78742
caught exception (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.
78744

               Value
Date
1996-04-30   85900.0
1996-05-31   85800.0
1996-06-30   85700.0
1996-07-31   85600.0
1996-08-31   85500.0
1996-09-30   85300.0
1996-10-31   85100.0
1996-11-30   84900.0
1996-12-31   84800.0
1997-01-31   84600.0
1997-02-28   84400.0
1997-03-31   84200.0
1997-04-30   84000.0
1997-05-31   83900.0
1997-06-30   83900.0
1997-07-31   83900.0
1997-08-31   84000.0
1997-09-30   84200.0
1997-10-31   84500.0
1997-11-30   84700.0
1997-12-31   85100.0
1998-01-31   85400.0
1998-02-28   85600.0
1998-03-31   85800.0
1998-04-30   85900.0
1998-05-31   86000.0
1998-06-30   85900.0
1998-07-31   85700.0
1998-08-31   85400.0
1998-09-30   85000.0
...              ...
2015-11-30  145400.0
2015-12-31  147000.0
2016-01-31  148900.0
2016-02-29  150400.0
2016-03-31  151100.0
2016-04-30  152100.0
2016-05-31  154200.0
2016-06-30  157800.0
2016-07-31  161300.0
2016-08-31  162800.0
2016-09-30  162100.0
2016-10-31  162100.0
2016-11-30  162900.0
2016-12-31  162900.0
2017-01-31  163500.0
2017-02-28  166100.0
2017-03-31  169500.0
2017-04-30  172300.0
2017-05-31  174800.0
2017-06-30  177100.0
2017-07-31  179400.0
2017-08-31  182100.0
2017-09-30  185300.0
2017-10-31  187800.0
2017-11-30  189200.0
2017-12-31  190200.0
2018-01-31  191300.0
2018-02-28  192300.0
2018-03-31  193700.0
2018-04-30  194700.0

[265 rows x 1 columns]
78745
               Value
Date
1996-04-30  135300.0
1996-05-31  134500.0
1996-06-30  134000.0
1996-07-31  133900.0
1996-08-31  134100.0
1996-09-30  134600.0
1996-10-31  135100.0
1996-11-30  135800.0
1996-12-31  136300.0
1997-01-31  136500.0
1997-02-28  136700.0
1997-03-31  136800.0
1997-04-30  136500.0
1997-05-31  136000.0
1997-06-30  135300.0
1997-07-31  134400.0
1997-08-31  133400.0
1997-09-30  132500.0
1997-10-31  131800.0
1997-11-30  131400.0
1997-12-31  131200.0
1998-01-31  131400.0
1998-02-28  132200.0
1998-03-31  133400.0
1998-04-30  134700.0
1998-05-31  135900.0
1998-06-30  136900.0
1998-07-31  137500.0
1998-08-31  137900.0
1998-09-30  137900.0
...              ...
2015-11-30  240100.0
2015-12-31  241700.0
2016-01-31  243500.0
2016-02-29  245500.0
2016-03-31  247400.0
2016-04-30  249100.0
2016-05-31  251400.0
2016-06-30  254500.0
2016-07-31  257200.0
2016-08-31  259500.0
2016-09-30  261900.0
2016-10-31  264800.0
2016-11-30  267600.0
2016-12-31  269900.0
2017-01-31  272100.0
2017-02-28  275300.0
2017-03-31  279000.0
2017-04-30  282000.0
2017-05-31  283600.0
2017-06-30  284900.0
2017-07-31  286000.0
2017-08-31  286500.0
2017-09-30  286800.0
2017-10-31  287700.0
2017-11-30  288800.0
2017-12-31  289900.0
2018-01-31  290900.0
2018-02-28  292000.0
2018-03-31  293200.0
2018-04-30  294000.0

[265 rows x 1 columns]
78746
               Value
Date
1996-04-30  484800.0
1996-05-31  488600.0
1996-06-30  492700.0
1996-07-31  496800.0
1996-08-31  500800.0
1996-09-30  504300.0
1996-10-31  507100.0
1996-11-30  508700.0
1996-12-31  509100.0
1997-01-31  508000.0
1997-02-28  504800.0
1997-03-31  499400.0
1997-04-30  492300.0
1997-05-31  484200.0
1997-06-30  475800.0
1997-07-31  467900.0
1997-08-31  461300.0
1997-09-30  456800.0
1997-10-31  454700.0
1997-11-30  455400.0
1997-12-31  459600.0
1998-01-31  466800.0
1998-02-28  476500.0
1998-03-31  488500.0
1998-04-30  503000.0
1998-05-31  518500.0
1998-06-30  534300.0
1998-07-31  549300.0
1998-08-31  562500.0
1998-09-30  573000.0
...              ...
2015-11-30  753600.0
2015-12-31  755000.0
2016-01-31  759200.0
2016-02-29  766000.0
2016-03-31  774000.0
2016-04-30  783100.0
2016-05-31  790800.0
2016-06-30  798300.0
2016-07-31  804200.0
2016-08-31  807900.0
2016-09-30  811000.0
2016-10-31  818900.0
2016-11-30  828300.0
2016-12-31  834700.0
2017-01-31  838600.0
2017-02-28  844000.0
2017-03-31  849700.0
2017-04-30  853900.0
2017-05-31  860300.0
2017-06-30  873600.0
2017-07-31  878800.0
2017-08-31  870700.0
2017-09-30  863600.0
2017-10-31  866300.0
2017-11-30  870900.0
2017-12-31  873300.0
2018-01-31  875600.0
2018-02-28  882100.0
2018-03-31  889100.0
2018-04-30  890500.0

[265 rows x 1 columns]
78747
               Value
Date
1996-04-30  179600.0
1996-05-31  178900.0
1996-06-30  178100.0
1996-07-31  177200.0
1996-08-31  176300.0
1996-09-30  175400.0
1996-10-31  174400.0
1996-11-30  173300.0
1996-12-31  172200.0
1997-01-31  171200.0
1997-02-28  170100.0
1997-03-31  169000.0
1997-04-30  167600.0
1997-05-31  166100.0
1997-06-30  164300.0
1997-07-31  162200.0
1997-08-31  159900.0
1997-09-30  157500.0
1997-10-31  155000.0
1997-11-30  152400.0
1997-12-31  149800.0
1998-01-31  147300.0
1998-02-28  144900.0
1998-03-31  142800.0
1998-04-30  140700.0
1998-05-31  139000.0
1998-06-30  137600.0
1998-07-31  136500.0
1998-08-31  135700.0
1998-09-30  135100.0
...              ...
2015-11-30  205800.0
2015-12-31  206800.0
2016-01-31  208600.0
2016-02-29  210000.0
2016-03-31  210400.0
2016-04-30  211300.0
2016-05-31  213500.0
2016-06-30  216700.0
2016-07-31  220000.0
2016-08-31  222500.0
2016-09-30  224000.0
2016-10-31  225300.0
2016-11-30  226000.0
2016-12-31  225900.0
2017-01-31  226200.0
2017-02-28  228000.0
2017-03-31  230000.0
2017-04-30  232100.0
2017-05-31  234200.0
2017-06-30  236200.0
2017-07-31  237200.0
2017-08-31  238500.0
2017-09-30  240000.0
2017-10-31  241400.0
2017-11-30  242300.0
2017-12-31  243100.0
2018-01-31  244000.0
2018-02-28  245800.0
2018-03-31  248700.0
2018-04-30  251000.0

[265 rows x 1 columns]
78748
               Value
Date
1996-04-30  199400.0
1996-05-31  198700.0
1996-06-30  197900.0
1996-07-31  196600.0
1996-08-31  194900.0
1996-09-30  192700.0
1996-10-31  189900.0
1996-11-30  186700.0
1996-12-31  183400.0
1997-01-31  180100.0
1997-02-28  176700.0
1997-03-31  173000.0
1997-04-30  169300.0
1997-05-31  165500.0
1997-06-30  161700.0
1997-07-31  158200.0
1997-08-31  155100.0
1997-09-30  152700.0
1997-10-31  151000.0
1997-11-30  150200.0
1997-12-31  150500.0
1998-01-31  151700.0
1998-02-28  153300.0
1998-03-31  155400.0
1998-04-30  157700.0
1998-05-31  160000.0
1998-06-30  162100.0
1998-07-31  163800.0
1998-08-31  165100.0
1998-09-30  166100.0
...              ...
2015-11-30  242900.0
2015-12-31  245100.0
2016-01-31  247200.0
2016-02-29  249000.0
2016-03-31  250800.0
2016-04-30  253000.0
2016-05-31  255000.0
2016-06-30  257000.0
2016-07-31  258900.0
2016-08-31  260200.0
2016-09-30  260400.0
2016-10-31  260700.0
2016-11-30  261100.0
2016-12-31  261300.0
2017-01-31  261900.0
2017-02-28  263400.0
2017-03-31  264800.0
2017-04-30  266000.0
2017-05-31  267000.0
2017-06-30  267900.0
2017-07-31  268300.0
2017-08-31  268900.0
2017-09-30  270300.0
2017-10-31  272600.0
2017-11-30  274800.0
2017-12-31  276300.0
2018-01-31  277400.0
2018-02-28  278500.0
2018-03-31  280200.0
2018-04-30  281400.0

[265 rows x 1 columns]
78749
               Value
Date
1996-04-30  264000.0
1996-05-31  266400.0
1996-06-30  269300.0
1996-07-31  272400.0
1996-08-31  275500.0
1996-09-30  278600.0
1996-10-31  281500.0
1996-11-30  284400.0
1996-12-31  287000.0
1997-01-31  289100.0
1997-02-28  290800.0
1997-03-31  292100.0
1997-04-30  292300.0
1997-05-31  291400.0
1997-06-30  289400.0
1997-07-31  286300.0
1997-08-31  282200.0
1997-09-30  277400.0
1997-10-31  272000.0
1997-11-30  266000.0
1997-12-31  259600.0
1998-01-31  253400.0
1998-02-28  247800.0
1998-03-31  243000.0
1998-04-30  238800.0
1998-05-31  235500.0
1998-06-30  232700.0
1998-07-31  230300.0
1998-08-31  228200.0
1998-09-30  226300.0
...              ...
2015-11-30  300900.0
2015-12-31  302300.0
2016-01-31  304000.0
2016-02-29  306000.0
2016-03-31  308800.0
2016-04-30  312100.0
2016-05-31  315500.0
2016-06-30  319100.0
2016-07-31  322200.0
2016-08-31  325700.0
2016-09-30  329400.0
2016-10-31  332800.0
2016-11-30  335600.0
2016-12-31  337900.0
2017-01-31  340500.0
2017-02-28  343600.0
2017-03-31  345700.0
2017-04-30  346400.0
2017-05-31  347700.0
2017-06-30  350000.0
2017-07-31  350900.0
2017-08-31  350400.0
2017-09-30  349400.0
2017-10-31  348900.0
2017-11-30  348700.0
2017-12-31  348900.0
2018-01-31  349600.0
2018-02-28  352100.0
2018-03-31  355400.0
2018-04-30  357700.0

[265 rows x 1 columns]
78750
               Value
Date
1996-04-30  244500.0
1996-05-31  247500.0
1996-06-30  250500.0
1996-07-31  253200.0
1996-08-31  255400.0
1996-09-30  256900.0
1996-10-31  257600.0
1996-11-30  257700.0
1996-12-31  257500.0
1997-01-31  256900.0
1997-02-28  255800.0
1997-03-31  254200.0
1997-04-30  252600.0
1997-05-31  251100.0
1997-06-30  249700.0
1997-07-31  248600.0
1997-08-31  247900.0
1997-09-30  247900.0
1997-10-31  248300.0
1997-11-30  249300.0
1997-12-31  250800.0
1998-01-31  252700.0
1998-02-28  254200.0
1998-03-31  255300.0
1998-04-30  256200.0
1998-05-31  256600.0
1998-06-30  256500.0
1998-07-31  255900.0
1998-08-31  254800.0
1998-09-30  253300.0
...              ...
2015-11-30  357600.0
2015-12-31  360400.0
2016-01-31  361200.0
2016-02-29  361800.0
2016-03-31  363000.0
2016-04-30  364300.0
2016-05-31  366300.0
2016-06-30  369600.0
2016-07-31  372000.0
2016-08-31  373200.0
2016-09-30  375200.0
2016-10-31  378400.0
2016-11-30  382100.0
2016-12-31  384700.0
2017-01-31  386700.0
2017-02-28  388500.0
2017-03-31  389900.0
2017-04-30  390800.0
2017-05-31  391700.0
2017-06-30  392900.0
2017-07-31  394400.0
2017-08-31  395300.0
2017-09-30  396300.0
2017-10-31  398300.0
2017-11-30  400500.0
2017-12-31  402100.0
2018-01-31  404000.0
2018-02-28  405700.0
2018-03-31  407200.0
2018-04-30  408000.0

[265 rows x 1 columns]
78751

               Value
Date
1996-04-30  106600.0
1996-05-31  107000.0
1996-06-30  107400.0
1996-07-31  107900.0
1996-08-31  108300.0
1996-09-30  108600.0
1996-10-31  108900.0
1996-11-30  109200.0
1996-12-31  109500.0
1997-01-31  110000.0
1997-02-28  110300.0
1997-03-31  110600.0
1997-04-30  111100.0
1997-05-31  111800.0
1997-06-30  112600.0
1997-07-31  113600.0
1997-08-31  114800.0
1997-09-30  116100.0
1997-10-31  117700.0
1997-11-30  119500.0
1997-12-31  121400.0
1998-01-31  123600.0
1998-02-28  125800.0
1998-03-31  127900.0
1998-04-30  130000.0
1998-05-31  132000.0
1998-06-30  134000.0
1998-07-31  135900.0
1998-08-31  137700.0
1998-09-30  139400.0
...              ...
2015-11-30  378200.0
2015-12-31  380700.0
2016-01-31  382500.0
2016-02-29  385000.0
2016-03-31  389500.0
2016-04-30  394600.0
2016-05-31  398400.0
2016-06-30  401200.0
2016-07-31  401800.0
2016-08-31  400200.0
2016-09-30  398900.0
2016-10-31  399200.0
2016-11-30  399000.0
2016-12-31  399000.0
2017-01-31  400400.0
2017-02-28  403500.0
2017-03-31  405600.0
2017-04-30  406300.0
2017-05-31  406900.0
2017-06-30  407600.0
2017-07-31  407500.0
2017-08-31  408800.0
2017-09-30  412200.0
2017-10-31  415600.0
2017-11-30  419100.0
2017-12-31  422100.0
2018-01-31  424300.0
2018-02-28  425800.0
2018-03-31  429400.0
2018-04-30  432700.0

[265 rows x 1 columns]
78752
               Value
Date
1996-04-30   87600.0
1996-05-31   87400.0
1996-06-30   87200.0
1996-07-31   87000.0
1996-08-31   86900.0
1996-09-30   86800.0
1996-10-31   86700.0
1996-11-30   86700.0
1996-12-31   86700.0
1997-01-31   86800.0
1997-02-28   87000.0
1997-03-31   87200.0
1997-04-30   87400.0
1997-05-31   87700.0
1997-06-30   88200.0
1997-07-31   88700.0
1997-08-31   89400.0
1997-09-30   90100.0
1997-10-31   90800.0
1997-11-30   91700.0
1997-12-31   92600.0
1998-01-31   93500.0
1998-02-28   94400.0
1998-03-31   95300.0
1998-04-30   96300.0
1998-05-31   97200.0
1998-06-30   98200.0
1998-07-31   99200.0
1998-08-31  100100.0
1998-09-30  101100.0
...              ...
2015-11-30  245500.0
2015-12-31  248800.0
2016-01-31  250900.0
2016-02-29  253300.0
2016-03-31  257000.0
2016-04-30  261900.0
2016-05-31  266500.0
2016-06-30  272000.0
2016-07-31  279400.0
2016-08-31  286900.0
2016-09-30  292500.0
2016-10-31  297700.0
2016-11-30  302400.0
2016-12-31  306300.0
2017-01-31  309800.0
2017-02-28  312900.0
2017-03-31  315300.0
2017-04-30  316600.0
2017-05-31  317400.0
2017-06-30  318200.0
2017-07-31  316200.0
2017-08-31  311200.0
2017-09-30  306300.0
2017-10-31  302300.0
2017-11-30  299100.0
2017-12-31  298800.0
2018-01-31  300000.0
2018-02-28  300900.0
2018-03-31  301900.0
2018-04-30  302900.0

[265 rows x 1 columns]
78753
               Value
Date
1996-04-30  111400.0
1996-05-31  110700.0
1996-06-30  109900.0
1996-07-31  109300.0
1996-08-31  108600.0
1996-09-30  108100.0
1996-10-31  107700.0
1996-11-30  107400.0
1996-12-31  107100.0
1997-01-31  107000.0
1997-02-28  107000.0
1997-03-31  107200.0
1997-04-30  107300.0
1997-05-31  107500.0
1997-06-30  107700.0
1997-07-31  107800.0
1997-08-31  108000.0
1997-09-30  108100.0
1997-10-31  108100.0
1997-11-30  108200.0
1997-12-31  108200.0
1998-01-31  108200.0
1998-02-28  108300.0
1998-03-31  108400.0
1998-04-30  108700.0
1998-05-31  108900.0
1998-06-30  109300.0
1998-07-31  109700.0
1998-08-31  110100.0
1998-09-30  110600.0
...              ...
2015-11-30  173900.0
2015-12-31  174700.0
2016-01-31  176500.0
2016-02-29  179100.0
2016-03-31  181500.0
2016-04-30  184200.0
2016-05-31  188200.0
2016-06-30  192300.0
2016-07-31  195700.0
2016-08-31  199100.0
2016-09-30  201900.0
2016-10-31  204600.0
2016-11-30  206700.0
2016-12-31  208300.0
2017-01-31  210000.0
2017-02-28  211800.0
2017-03-31  213900.0
2017-04-30  216200.0
2017-05-31  218700.0
2017-06-30  221000.0
2017-07-31  222600.0
2017-08-31  223300.0
2017-09-30  224000.0
2017-10-31  223600.0
2017-11-30  223600.0
2017-12-31  225300.0
2018-01-31  227300.0
2018-02-28  228800.0
2018-03-31  231500.0
2018-04-30  233500.0

[265 rows x 1 columns]
78754
               Value
Date
1996-04-30  133100.0
1996-05-31  132900.0
1996-06-30  132800.0
1996-07-31  132600.0
1996-08-31  132500.0
1996-09-30  132500.0
1996-10-31  132400.0
1996-11-30  132500.0
1996-12-31  132600.0
1997-01-31  132700.0
1997-02-28  132800.0
1997-03-31  132900.0
1997-04-30  133000.0
1997-05-31  133100.0
1997-06-30  133200.0
1997-07-31  133300.0
1997-08-31  133300.0
1997-09-30  133300.0
1997-10-31  133200.0
1997-11-30  133200.0
1997-12-31  133000.0
1998-01-31  132800.0
1998-02-28  132600.0
1998-03-31  132400.0
1998-04-30  132100.0
1998-05-31  131900.0
1998-06-30  131800.0
1998-07-31  131800.0
1998-08-31  131800.0
1998-09-30  132000.0
...              ...
2015-11-30  196500.0
2015-12-31  198200.0
2016-01-31  200000.0
2016-02-29  201500.0
2016-03-31  203100.0
2016-04-30  205000.0
2016-05-31  207200.0
2016-06-30  210600.0
2016-07-31  214000.0
2016-08-31  217000.0
2016-09-30  219800.0
2016-10-31  222900.0
2016-11-30  224700.0
2016-12-31  226200.0
2017-01-31  228000.0
2017-02-28  229600.0
2017-03-31  230700.0
2017-04-30  231900.0
2017-05-31  233400.0
2017-06-30  234700.0
2017-07-31  235400.0
2017-08-31  235700.0
2017-09-30  236000.0
2017-10-31  236000.0
2017-11-30  235800.0
2017-12-31  235500.0
2018-01-31  235000.0
2018-02-28  235600.0
2018-03-31  238100.0
2018-04-30  240200.0

[265 rows x 1 columns]
78756
               Value
Date
1996-04-30  200100.0
1996-05-31  200500.0
1996-06-30  200900.0
1996-07-31  201300.0
1996-08-31  201700.0
1996-09-30  201900.0
1996-10-31  201900.0
1996-11-30  201800.0
1996-12-31  201500.0
1997-01-31  201200.0
1997-02-28  200500.0
1997-03-31  199600.0
1997-04-30  198600.0
1997-05-31  197800.0
1997-06-30  197100.0
1997-07-31  196400.0
1997-08-31  195900.0
1997-09-30  195400.0
1997-10-31  195000.0
1997-11-30  194700.0
1997-12-31  194600.0
1998-01-31  194600.0
1998-02-28  194700.0
1998-03-31  194900.0
1998-04-30  195400.0
1998-05-31  196200.0
1998-06-30  197300.0
1998-07-31  198800.0
1998-08-31  200700.0
1998-09-30  202700.0
...              ...
2015-11-30  432300.0
2015-12-31  431100.0
2016-01-31  430300.0
2016-02-29  431500.0
2016-03-31  433700.0
2016-04-30  435500.0
2016-05-31  438500.0
2016-06-30  443400.0
2016-07-31  446700.0
2016-08-31  447500.0
2016-09-30  448900.0
2016-10-31  451800.0
2016-11-30  453600.0
2016-12-31  454700.0
2017-01-31  456600.0
2017-02-28  459300.0
2017-03-31  462000.0
2017-04-30  462700.0
2017-05-31  462200.0
2017-06-30  461800.0
2017-07-31  461500.0
2017-08-31  460500.0
2017-09-30  460600.0
2017-10-31  462300.0
2017-11-30  464600.0
2017-12-31  466100.0
2018-01-31  467300.0
2018-02-28  469100.0
2018-03-31  472900.0
2018-04-30  476700.0

[265 rows x 1 columns]
78757
               Value
Date
1996-04-30  141000.0
1996-05-31  140400.0
1996-06-30  140300.0
1996-07-31  140700.0
1996-08-31  141400.0
1996-09-30  142100.0
1996-10-31  142700.0
1996-11-30  142900.0
1996-12-31  142700.0
1997-01-31  142300.0
1997-02-28  142100.0
1997-03-31  142400.0
1997-04-30  143200.0
1997-05-31  144500.0
1997-06-30  146200.0
1997-07-31  148400.0
1997-08-31  150800.0
1997-09-30  153700.0
1997-10-31  157000.0
1997-11-30  160800.0
1997-12-31  164900.0
1998-01-31  168900.0
1998-02-28  172800.0
1998-03-31  176400.0
1998-04-30  179100.0
1998-05-31  180600.0
1998-06-30  180600.0
1998-07-31  179000.0
1998-08-31  176200.0
1998-09-30  172700.0
...              ...
2015-11-30  361900.0
2015-12-31  364200.0
2016-01-31  366000.0
2016-02-29  367900.0
2016-03-31  370400.0
2016-04-30  373200.0
2016-05-31  376200.0
2016-06-30  379500.0
2016-07-31  383100.0
2016-08-31  386700.0
2016-09-30  390000.0
2016-10-31  393500.0
2016-11-30  395600.0
2016-12-31  396700.0
2017-01-31  397500.0
2017-02-28  399800.0
2017-03-31  403200.0
2017-04-30  406300.0
2017-05-31  408300.0
2017-06-30  409600.0
2017-07-31  408800.0
2017-08-31  406200.0
2017-09-30  403800.0
2017-10-31  403700.0
2017-11-30  406700.0
2017-12-31  411600.0
2018-01-31  415900.0
2018-02-28  419200.0
2018-03-31  422000.0
2018-04-30  423100.0

[265 rows x 1 columns]
78758
               Value
Date
1996-04-30  127900.0
1996-05-31  126900.0
1996-06-30  125900.0
1996-07-31  125100.0
1996-08-31  124300.0
1996-09-30  123700.0
1996-10-31  123100.0
1996-11-30  122600.0
1996-12-31  122000.0
1997-01-31  121400.0
1997-02-28  120700.0
1997-03-31  120000.0
1997-04-30  119300.0
1997-05-31  118500.0
1997-06-30  117700.0
1997-07-31  117000.0
1997-08-31  116400.0
1997-09-30  115800.0
1997-10-31  115400.0
1997-11-30  115100.0
1997-12-31  114900.0
1998-01-31  114900.0
1998-02-28  115000.0
1998-03-31  115400.0
1998-04-30  115800.0
1998-05-31  116200.0
1998-06-30  116600.0
1998-07-31  116900.0
1998-08-31  117200.0
1998-09-30  117400.0
...              ...
2015-11-30  188700.0
2015-12-31  190900.0
2016-01-31  193400.0
2016-02-29  196100.0
2016-03-31  198600.0
2016-04-30  201900.0
2016-05-31  207000.0
2016-06-30  213400.0
2016-07-31  219700.0
2016-08-31  225800.0
2016-09-30  230800.0
2016-10-31  235200.0
2016-11-30  238200.0
2016-12-31  239600.0
2017-01-31  240100.0
2017-02-28  241500.0
2017-03-31  243000.0
2017-04-30  244300.0
2017-05-31  245600.0
2017-06-30  246700.0
2017-07-31  246200.0
2017-08-31  244500.0
2017-09-30  243100.0
2017-10-31  242500.0
2017-11-30  242800.0
2017-12-31  245300.0
2018-01-31  249700.0
2018-02-28  255100.0
2018-03-31  261200.0
2018-04-30  265600.0

[265 rows x 1 columns]
78759

               Value
Date
1996-04-30  245500.0
1996-05-31  249200.0
1996-06-30  253300.0
1996-07-31  257500.0
1996-08-31  261300.0
1996-09-30  264600.0
1996-10-31  267100.0
1996-11-30  268800.0
1996-12-31  269800.0
1997-01-31  270200.0
1997-02-28  269800.0
1997-03-31  268700.0
1997-04-30  267300.0
1997-05-31  265600.0
1997-06-30  264000.0
1997-07-31  262600.0
1997-08-31  261500.0
1997-09-30  260800.0
1997-10-31  260500.0
1997-11-30  260400.0
1997-12-31  260600.0
1998-01-31  260800.0
1998-02-28  260500.0
1998-03-31  259700.0
1998-04-30  258200.0
1998-05-31  255800.0
1998-06-30  252500.0
1998-07-31  248300.0
1998-08-31  243500.0
1998-09-30  238400.0
...              ...
2015-11-30  381700.0
2015-12-31  383600.0
2016-01-31  385400.0
2016-02-29  387400.0
2016-03-31  390200.0
2016-04-30  393900.0
2016-05-31  398200.0
2016-06-30  402100.0
2016-07-31  405300.0
2016-08-31  408600.0
2016-09-30  411200.0
2016-10-31  413200.0
2016-11-30  414500.0
2016-12-31  414700.0
2017-01-31  415200.0
2017-02-28  416600.0
2017-03-31  417900.0
2017-04-30  418900.0
2017-05-31  419400.0
2017-06-30  419100.0
2017-07-31  418200.0
2017-08-31  418100.0
2017-09-30  419600.0
2017-10-31  421500.0
2017-11-30  422400.0
2017-12-31  423500.0
2018-01-31  424700.0
2018-02-28  426300.0
2018-03-31  429600.0
2018-04-30  432600.0

[265 rows x 1 columns]

In [9]:
# Convert zip_df data to a data frame and export it to csv file
zip_df = pd.DataFrame(data_zip)
# print(zip_df)
zip_df.to_csv("output_quandl/Output.data_zip.csv", index = False ,header = False)

In [13]:
# Concatenating all the data
data_concat = data_data
data_concat = pd.concat(data_concat)
# Getting month and year from the column "date"
data_concat['year'] = pd.DatetimeIndex(data_concat.index).year
data_concat['month'] = pd.DatetimeIndex(data_concat.index).month
data_concat

               Value   test  year  month
Date
1996-04-30  152500.0  78701  1996      4
1996-05-31  153600.0  78701  1996      5
1996-06-30  154600.0  78701  1996      6
1996-07-31  155500.0  78701  1996      7
1996-08-31  156300.0  78701  1996      8
1996-09-30  157300.0  78701  1996      9
1996-10-31  158300.0  78701  1996     10
1996-11-30  159300.0  78701  1996     11
1996-12-31  160400.0  78701  1996     12
1997-01-31  161900.0  78701  1997      1
1997-02-28  163500.0  78701  1997      2
1997-03-31  164800.0  78701  1997      3
1997-04-30  166300.0  78701  1997      4
1997-05-31  167700.0  78701  1997      5
1997-06-30  169000.0  78701  1997      6
1997-07-31  170200.0  78701  1997      7
1997-08-31  171500.0  78701  1997      8
1997-09-30  172900.0  78701  1997      9
1997-10-31  174500.0  78701  1997     10
1997-11-30  176100.0  78701  1997     11
1997-12-31  178000.0  78701  1997     12
1998-01-31  180200.0  78701  1998      1
1998-02-28  182700.0  78701  1998      2
1998-03-31  185000.0  78701  1998      3
1998-04-30  187500.0  78701  1998      4
1998-05-31  189800.0  78701  1998      5
1998-06-30  191800.0  78701  1998      6
1998-07-31  193700.0  78701  1998      7
1998-08-31  195500.0  78701  1998      8
1998-09-30  197300.0  78701  1998      9
...              ...    ...   ...    ...
2015-11-30  381700.0  78759  2015     11
2015-12-31  383600.0  78759  2015     12
2016-01-31  385400.0  78759  2016      1
2016-02-29  387400.0  78759  2016      2
2016-03-31  390200.0  78759  2016      3
2016-04-30  393900.0  78759  2016      4
2016-05-31  398200.0  78759  2016      5
2016-06-30  402100.0  78759  2016      6
2016-07-31  405300.0  78759  2016      7
2016-08-31  408600.0  78759  2016      8
2016-09-30  411200.0  78759  2016      9
2016-10-31  413200.0  78759  2016     10
2016-11-30  414500.0  78759  2016     11
2016-12-31  414700.0  78759  2016     12
2017-01-31  415200.0  78759  2017      1
2017-02-28  416600.0  78759  2017      2
2017-03-31  417900.0  78759  2017      3
2017-04-30  418900.0  78759  2017      4
2017-05-31  419400.0  78759  2017      5
2017-06-30  419100.0  78759  2017      6
2017-07-31  418200.0  78759  2017      7
2017-08-31  418100.0  78759  2017      8
2017-09-30  419600.0  78759  2017      9
2017-10-31  421500.0  78759  2017     10
2017-11-30  422400.0  78759  2017     11
2017-12-31  423500.0  78759  2017     12
2018-01-31  424700.0  78759  2018      1
2018-02-28  426300.0  78759  2018      2
2018-03-31  429600.0  78759  2018      3
2018-04-30  432600.0  78759  2018      4

[10865 rows x 4 columns]

In [15]:
# Export the "home value" data to a csv file
data_concat.to_csv("output_quandl/Output.home_value.csv", index = False ,header = True)